@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  /* 10px */
  --font-10: 0.625rem;
  /* 12px */
  --font-12: 0.75rem;
  /* 13px */
  --font-13: 0.8125rem;
  /* 14px */
  --font-14: 0.875rem;
  /* 15px */
  --font-15: 0.9375rem;
  /* 16px */
  --font-16: 1rem;
  /* 18px */
  --font-18: 1.125rem;
  /* 20px */
  --font-20: 1.25rem;
  /* 24px */
  --font-24: 1.5rem;
  /* 28px */
  --font-28: 1.75rem;
  /* 32px */
  --font-32: 2rem;
  /* 36px */
  --font-36: 2.25rem;
  /* 40px */
  --font-40: 2.25rem;
  /* 46px */
  --font-46: 2.8755rem;
  /* 72px */
  --font-72: 4.5rem;
  /* 14.4px */
  --text-1: 0.9rem;

  /* 文字カラー */
  --font-black: #333;
  --font-white: #fff;
  --font-blue: #24A8BF;

  /* ラインカラー */
  --line-black: #333;
  --line-white: #fff;

  /* 背景色 */
  --bg-black: #000;
  --bg-white: #fff;
  --bg-red: #ff2a3a;
  --bg-gray: #e8e8e8;
  --bg-darkgray: #414141;

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* メディアクエリ */
/* @media screen and (max-width: 767px) {
} */

/* ============================
* 共通
* ========================= */
body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

:lang(en) {
  font-family: "Arial", sans-serif;
}

/* コンテンツ幅 */
.section__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 30px;
}

.blue-bold {
  color: var(--font-blue);
  font-weight: 700;
}

/* ============================
* header
* ========================= */
.header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header__inner {
  display: flex;
  justify-content: center;
}

/* ============================
*  main
* ========================= */
/* .メインビジュアル */
.main-visual {
  width: 100%;
  height: auto;
}

/* ナビ */
.global-nav {
  padding: 40px 0;
}

.global-nav__list {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.global-nav__link {
  font-size: var(--font-18);
  line-height: 1;
  color: var(--font-black);
  letter-spacing: 0.1em;
}

/* コンテンツ */
/* Concept */
.concept__inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.concept--right {
  margin-top: 12px;
  letter-spacing: 0.1em;
}

.concept__title {
  font-size: var(--font-16);
  color: var(--font-black);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.15;
  margin-bottom: 30px;
}

.concept__sub-title {
  display: block;
  font-size: var(--font-32);
  line-height: 1.344;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.concept__text {
  font-size: var(--font-16);
  line-height: 1.8125;
}

/* Blog */
.blog__title {
  font-size: var(--font-32);
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.08em;
  margin-left: 2px;
}

.blog__sub-title {
  display: block;
  font-size: var(--font-13);
  color: var(--font-black);
  font-weight: 400;
  margin-top: 8px;
  letter-spacing: 0.11em;
}

.blog__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  flex-wrap: wrap;
  gap: 27px 30px;
  margin-bottom: 27px;
}

.blog__item-link {
  color: var(--font-black);
}

.blog__item-img {
  margin-bottom: 13px;
  object-fit: cover;
}

.blog__item-title {
  font-size: var(--font-15);
  line-height: 1.6;
  margin-bottom: 6px;
  font-weight: 600;
  padding-right: 22px;
}

.blog__item-date {
  font-size: var(--font-12);
  line-height: 1.083;
  letter-spacing: 0.05em;
}

.blog__link-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid #24A8BF;
  border-radius: 3px;
  padding-top: 18px;
  padding-bottom: 16px;
  width: 220px;
  margin: 0 auto;
  position: relative;
}

.blog__link {
  color: #24A8BF;
  font-size: var(--font-15);
  line-height: 1;
}

.blog__link::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4.5px solid transparent;
  border-bottom: 4.5px solid transparent;
  border-left: 5px solid #24A8BF;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

/* ============================
* footer
* ========================= */
.footer {
  background-color: var(--bg-black);
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__img {
  margin-bottom: 50px;
}

.footer__link {
  display: block;
}

.footer__copyright {
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}

.copyright-word {
  color: #8B8B8B;
  font-size: var(--font-10);
  line-height: 1.15;


}

.copyright-symbol {
  color: #8B8B8B;
  font-size: var(--font-16);
}
